@charset "UTF-8";
section {
display: flex; 
flex-flow: row;
justify-content: center;
align-items: center;
height: 100vh;
margin-left:150px;

}
section div {
height: 200px;
background: #66BB6A;
color: white;
padding: 30px;
border-radius: 14px; 
min-width: 250px;
box-shadow: 12px 0px 32px -12px black;
margin-left: -130px;
transition: all 0.25s ease-in-out;
cursor:pointer;
margin-top:20px;
}
section div h1 {
text-align:center;
margin-top:80px;
color:white;
}

section div:hover {
transform: translateY(-16px) rotate(3deg) ;
}
section div:hover ~ div {
transform:translateX(130px);
}

#anchor{
 text-decoration: none;
}

body{
 background-image:url('images/background.jpg');
}