.tables{
	margin-top:150px;
	margin-right:50px;
	margin-left:250px;
}
.container {
	max-width: 3000px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	border-width: 2px solid ;
	
}
.table {
	width: 200%;
	border: 1px solid color-form-highlight;
}
.table td {
	 padding: 10px 0 10px 30px;
	 
}
.table th{
	background-color:black;
	padding:10px 0;
}

.but{


  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 18px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.but:hover{
	transform: scale(0.9);
}
